*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

@media (max-width: 999px) {
    body,
    html {
        overflow-x: hidden !important;
        position: relative;
        width: 100%;
    }

    .nav-list {
        z-index: 100;
        position: absolute;
        top: 10vh;
        right: 0;
        width: 100%;
        height: 100vh;
        background: #242329;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        opacity: 0;
        visibility: hidden;
    }

    .nav-list li {
        opacity: 0;
        margin-top: 1em;
    }

    .mobile-menu {
        display: block;
        position: absolute;
       margin-left: 10em;
       margin-top: 1em;
    }

    img[id ="consegimg"]{
        scale: 50%;
        
    }

    header{
        display: inline-flex;
        align-items: center;
        margin: 0;
    }

    h1[id="conseg"]{
        font-size: 30px;
        margin-right: 1em;
        margin: 0;
        margin-top: 1em;
    }

    .apresentacao{
        display: inline-flex;
        padding: 0;
        justify-content: space-around;
        align-items: center;
        
    }
    .apresentacao img{
        scale: 50%;
        margin-left: 8em; 
  
    }
    .apresentacao h1{
        font-size: 18px;
        padding-right: 10em;
        margin-right: 200em;
    }

    .topicos{
        display: flex;
        flex-direction: column;
    }

    .box{
        align-items: center;
        gap: 1px;
        
    }


    .circuloazul{
        display: none;
        
    }
    h2[id="CO"]{
    margin-left: 2em;
    
    }

    
}



