*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: grid;
  background-color: #ffffff;
}


header {
  width: 100%;
  display: inline;
  background-color: #242329;

}

h2 {
  color: #dfdfdf;
}

footer {
  background-color: #242329;
  color: #FFF;
  width: 100%;
  height: 100px;
  margin-top: 1em;
}

footer.grande {
  position: absolute;
  bottom: 0;
  background-color: #242329;
  color: #FFF;
  width: 100%;
  height: 100px;
}

img[id="forkme_banner"] {
  margin: auto;
  padding: auto;
  margin-bottom: -10px;

}

img[id="consegimg"] {
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  max-width: 200px;
  height: 80px;
  width: 120px;
  margin-left: 0.7em;
  margin-right: auto;
  margin-top: 1em;
}

img[id="iconpucrs"] {
  display: inline;
  width: 3em;
  height: 4em;

  margin-top: 1em;
}

img[id="news"] {
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  max-width: 200px;
  max-height: 200px;
  height: 100px;
  width: 100px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

img[id="speedy"] {
  width: 2.5em;
  margin-left: 14em;
  margin-top: 1em;
}

img[id=weasels] {
  margin-top: 1em;
  margin-left: 10em;
  width: 10em;
}

img[id=privacy] {
  margin-top: 2em;
  margin-left: 12.7em;
  width: 5em;
}

img[id=gps] {
  margin-top: 1em;
  margin-left: 12.7em;
  width: 5em;
}

h1,
h3 {
  display: block;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  margin-left: 1em;
}

h1[id="sorry"] {
  display: inline;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
}

.gradient {
  background-image: linear-gradient(to right, #5113c5, #1c51e4c9);
  color: black;
  background-clip: text;
  -webkit-background-clip: text;

  /* Adicionado: */
  -webkit-text-fill-color: transparent;
}

h1[id="conseg"] {
  display: inline;
  font-family: "Arial";
  font-size: 3em;
}

p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  margin-left: 10px;
  font-size: 18px;
}

p[id=footerp] {
  display: inline;
  margin-left: 40px;
  margin-right: 10px;
}

a {
  color: #FFF;
}

/* link que foi visitado */
a:visited {
  color: none;
}

/* quando o ponteiro do mouse passa no link */
a:hover {
  color: none;
}

/* quando o link for selecionado */
a:active {
  color: #333;
}

a[id="menu"] {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  height: 8vh;
}


.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 6px;
  margin: 10em;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {

  body,
  html {
    overflow-x: hidden !important;
    position: relative;
    width: 100%;
  }

  .nav-list {
    z-index: 100;
    margin-top: 1em;
    position: absolute;
    top: 18vh;
    right: 0;
    width: 100%;
    height: 100vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    opacity: 0;
    visibility: hidden;
  }

  .nav-list li {
    opacity: 0;
    margin-top: 1em;
  }

  .mobile-menu {
    display: block;
    position: absolute;
  }


  .projetos {
    display: contents;
  }
}

.nav-list.active {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}



@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}


#toolbar {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 100%;
  height: 49;
  background-color: #1f1e22;
}

.showinlateral {
  display: inline-flex;
}


li[id="lateral"] {
  display: inline-block;
  color: #ffffff;
  line-height: 44px;
  padding: 0;
  border-color: #aaa;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
  margin-left: 40px;
  margin-right: 10px;
  color: #aaa;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: color .2s ease-in, border-top-color .2s ease-in;
  -ms-transition: color .2s ease-in, border-top-color .2s ease-in;
  -moz-transition: color .2s ease-in, border-top-color .2s ease-in;
  -o-transition: color .2s ease-in, border-top-color .2s ease-in;
  transition: color .2s ease-in, border-top-color .2s ease-in;
}

li[id=pesquisadores] {
  margin-left: 3em;
  font-family: "Open Sans", Helvetica;
}

li[id="principaistopicos"] {
  font-size: 18px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  margin-left: 1em;
  list-style: none;
}



.classe404 h1 {
  text-align: center;
}


.classe404 img {
  margin-top: 2em;
  margin-left: 100vh;
  height: 7em;
}

.flex {
  display: flex;
}

.flex__mod {
  display: flex;
  justify-content: flex-end;
  margin-right: .5rem;
}

.cardpeople {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  margin-left: 2em;
  margin-top: 1em;
  /* background-image: linear-gradient(to right, #9b0079, #6b00cf);   */
  background-image: linear-gradient(to right, #1f1e22, #151416);
  border-radius: 99999px;
  outline: 1px solid rgba(#FFF, #FFF, #FFF, .5);
  outline-offset: -8px;
  border: solid 5px #2200ff;
  box-shadow: 3px 3px 10px rgba(#FFF, #FFF, #FFF, .1);
  position: relative;
  overflow: hidden;
  justify-content: space-around;
}

img[id="people"] {
  margin-right: -.5rem;
  margin-left: -0.222em;
}

/* .erico{
  height: 15.3em;
  width: 15.4em;
  margin-left: em;
  } */
.avelino {
  height: 17em;
  width: 17em;
  margin-top: -1em;
}

#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 7px;
}

#slider img {
  margin-top: 4em;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider ul li {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 1000px;
  height: 500px;
  background-image: linear-gradient(to right, #000000, #030030);
  text-align: center;
  line-height: 300px;
}

button.control_prev,
button.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a36;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
  opacity: .7;
}

button.control_prev:hover,
button.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

button.control_prev {
  border-radius: 0 2px 2px 0;
}

button.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}


@media screen and (max-device-width: 3000px) {
  .menu {
    width: 100%;
  }

  .flex__mod {
    display: block;
    justify-content: flex-end;
    margin-right: .5rem;
  }

}

@media screen and (max-width: 789px) {
  .menu {
    width: 600px;
  }

  h1[id="sorry"] {
    position: absolute;
    display: flex;
    display: inline;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
  }

  section[id="lateral"] {
    margin-right: 16em;
  }

  .cardpeople {
    z-index: 1;
    width: 200px;
    height: 200px;
    margin-left: 2em;
    margin-top: 1em;
    /* background-image: linear-gradient(to right, #9b0079, #6b00cf);   */
    background-image: linear-gradient(to right, #1f1e22, #151416);
    outline: 1px solid rgba(#FFF, #FFF, #FFF, .5);
    outline-offset: -8px;
    border: solid 5px #2200ff;
    box-shadow: 3px 3px 10px rgba(#FFF, #FFF, #FFF, .1);
    position: relative;
    overflow: hidden;
  }

  img[id="people"] {
    margin-top: 0.09em;
    width: 200px;
    height: 240px;

  }

  .showinlateral {
    display: contents;
  }

  .container {
    display: flex;
    flex-direction: column;
    margin-left: 5em;
  }


  #slider {
    position: absolute;
    overflow: hidden;
    height: 10090px;
    margin: 1px auto 0 auto;
    border-radius: 7px;
  }


}

/* --------------------------------------- */
@media screen and (min-width: 40em) {

  .column,
  .columns {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }

}

/* --------------------------------- */

.card-image {
  position: absolute;
  inset: 0;
  object-fit: cover;
  opacity: .9;
  transition: transform .75s;

}

.card:hover .card-image {
  transform: scale(1.15);
}

.container {
  display: flex;
  flex-direction: column;
}

h3[id="preto"] {
  font-family: "Arial";
  color: rgb(0, 0, 0);
  font-weight: 22em;
  margin-left: 6em;
  margin-top: 1em;
}

.card-title {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-weight: 100;
  left: 15px;
  bottom: 14px;
  font-size: 15px;
  text-shadow: none;
  margin-left: 2.5em;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/*fadeOutLeft*/
@-webkit-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
}

@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-20px);
  }
}