*, *:before, *:after { 
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial,sans-serif;
  }

  body{
    background-color: #0f0e0f;
    color: #FFFFFF;
    text-align: center;
  }
  img{
    margin-top: 2em;
  }