*, *:before, *:after { 
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: Arial,sans-serif;
}

body{
  display: grid;
  background-color: #ffffff;
}

body.news{
  display: grid;
  background-color: #ffffff;
  place-items: center;
}

header{
  width: 100%;
  display: inline;
    background-color: #242329;
    
}
h2{
  color: #dfdfdf;
}

footer {
  background-color: #242329;
  color: #FFF;
  width: 100%;
  height: 100px;   
}

footer.grande{
  position: absolute;
  bottom: 0;
  background-color: #242329;
  color: #FFF;
  width: 100%;
  height: 100px;    
}

img[id="forkme_banner"]{
margin: auto;
padding: auto;
margin-bottom: -10px;

}

img[id="consegimg"]{
  margin:0;
  padding:0;
  border: none; 
  box-shadow: none;
  max-width: 200px;
  height: 80px;
  width: 120px;
  margin-left: 0.7em;
  margin-right: auto;
  margin-top: 1em;

}
img[id="iconpucrs"]{
  display: inline;
  width: 3em;
  height: 4em;

  margin-top: 1em;
}
img[id="news"]{
  margin:0;
  padding:0;
  border: none; 
  box-shadow: none;
  max-width: 200px;
  max-height: 200px;
  height: 100px;
  width: 100px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

img[id="speedy"]{
  width: 2.5em;
  margin-left: 14em;
  margin-top: 1em;
}
img[id=weasels]{
  margin-top: 1em;
  margin-left: 10em;
  width: 10em;
}
img[id=privacy]{
  margin-top: 2em;
  margin-left: 12.7em;
  width: 5em;
}

img[id=gps]{
  margin-top: 1em;
  margin-left: 12.7em;
  width: 5em;
}
h1,h3 {
  display: block;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  font-size: 1.5em;
  margin-left: 1em;
}

h1[id="sorry"]{
  display: inline;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  font-size: 1.5em;
}

.gradient {
  background-image: linear-gradient(to right, #fd5392, #f86f64);
  color: black;
  background-clip: text;
  -webkit-background-clip: text;

  /* Adicionado: */
  -webkit-text-fill-color: transparent;
}
h1[id="conseg"]{
  display: inline;
  font-family: "Arial";
  font-size: 3em;
}

p{
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  margin-left: 10px;
}

p[id = footerp]{
  display: inline;
  margin-left: 40px ;
  margin-right: 10px;
}

a{
  color: #FFF;
}
/* link que foi visitado */
a:visited {
  color: none;
}
/* quando o ponteiro do mouse passa no link */
a:hover {
  color: none;
}
/* quando o link for selecionado */
a:active {
  color: #333;
}

a[id ="menu"]{
  text-decoration: none;
}

#toolbar {
  margin:0;
  padding:0;
  display: inline-block;
  width: 100%;
  height: 49;
  background-color: #1f1e22;
}



li[id="lateral"]{
  display: inline-block;
  color: #ffffff;
  line-height: 44px;
  padding: 0;
  border-color: #aaa;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  font-size: 13px;
  font-weight: 700;
  margin-left: 40px ;
  margin-right: 10px;
  color: #aaa;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: color .2s ease-in, border-top-color .2s ease-in;
  -ms-transition: color .2s ease-in, border-top-color .2s ease-in;
  -moz-transition: color .2s ease-in, border-top-color .2s ease-in;
  -o-transition: color .2s ease-in, border-top-color .2s ease-in;
  transition: color .2s ease-in, border-top-color .2s ease-in;
}

li[id=pesquisadores]{
  margin-left: 3em;   
  font-family: "Open Sans",Helvetica;
}

li[id="principaistopicos"]{
  
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  margin-left: 1em;
  list-style: none;
}



.card {
  display: inline-block;
  margin: 5rem;
  width: 500px;
  height: 150px;
  /* background-image: linear-gradient(to right, #9b0079, #6b00cf);   */
  background-image: linear-gradient(to right, #1f1e22, #151416);
  border-radius: 10px;
  outline: 1px solid rgba(#FFF, #FFF, #FFF, .5);
  outline-offset: -8px;
  box-shadow: 3px 3px 10px rgba(#FFF, #FFF, #FFF, .1);
  position: relative;
  overflow: hidden;
}
.card-image {
  position: absolute;
  inset: 0;
  object-fit: cover;
  opacity: .8;
  transition: transform .75s;
}

.card:hover .card-image {
  transform: scale(1.15);
}

.card-title {
  position: absolute;
  color: #ffffff;
  font-weight: 100;
  left: 15px;
  bottom: 14px;
  font-size: 15px;
  text-shadow: none;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/*fadeOutLeft*/
@-webkit-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
}

@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-20px);
  }
}